<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   			http://www.springframework.org/schema/security
	   			http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/admin/**" access="ROLE_FUNCIONARIO" />
		<intercept-url pattern="/restrito/**" access="ROLE_FUNCIONARIO, ROLE_CLIENTE" />

		<form-login login-page="/publico/login.xhtml"
			always-use-default-target="true" default-target-url="/restrito/dashboard.xhtml"
			authentication-failure-url="/publico/login.xhtml?login_error=1" />
		<access-denied-handler error-page="/publico/acessoNegado.xhtml" />
		<logout logout-success-url="/publico/login.xhtml" />
		<remember-me />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="webDataSource"
				authorities-by-username-query="SELECT p.cpf, f.permissao FROM funcionario f, pessoa p WHERE f.idPessoa = p.id AND p.cpf = ?"
				users-by-username-query="SELECT p.cpf, f.senha, (f.status = 0) as ativo FROM  funcionario f, pessoa p WHERE f.idPessoa = p.id AND p.cpf = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>